





@media screen and (max-width:320px){
    .banner{
        padding: 50px 0;
    }
    .banner-heading {
        font-size: 40px;
        font-weight: bold;
        line-height: 52px;
        width: 80%;
    }
    .banner-para {
        font-size: 14px;
        color: #777777;
        width: 90%;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .get-bt {
        padding: 10px 104px;
    }

    .our-company{
        padding: 50px 0;
    }
    .myob img{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .ourcompany-inner{
        display: unset;

    }
    .counter{
        padding: 50px 0;
    }
    .tab-content{
        padding: 0 0 50px;
    }
    .service{
        padding: 50px 0;
    }
        
    .service-para {
        font-size: 14px;
        width: 100%;}
    .portfolio{
        padding: 50px 0;
    }
    .portfolio-para {
        width: 100%;
    }
    .portfolio-nav{
        flex: unset;

    }
    .our-team{
        padding: 50px 0;
    }
    .ourteam-para {
        width: 100%;
        margin: 0 auto}
    .team-slide{
        margin-bottom: 20px;
    }
    footer{
        padding: 50px 0;
    }
    .footer-last{
        margin-bottom: 20px;
    }
    .form{
        display: block;
        
    }
    .email{
        margin-bottom: 20px;
    }
    .copyright{
        display: block;
    }
}